.dropdown-custome-width {
    width: 190px !important;
}

.forgot-pass-label {
    margin-top: 10px !important;
    text-align: right !important;
}

.has-error-form {
    border: solid 1px red !important;
}

.error {
    color: red;
}

.m-t-5 {
    margin-top: 5px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.image-item {
    position: relative;
    margin-bottom: 10px;
    background: #f1f1f1;
    /*margin: 20px;*/
    height: auto;
}

.img_hover_edit {
    padding-left: initial !important;
    padding-right: initial !important;
}

.image-item input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-item img,
.employee-item img {
    width: 100%;
}

.image-item .close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    background: #df0000;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

.image-item-hover {
    position: absolute;
    right: 41%;
    top: 41%;
    color: white;
    font-size: 5px;
}